@import '@styles/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.side-cart {
}

.side-cart-toggle {
  color: var(--bs-btn-hover-color);
  border: none;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 50px;

  .cart-quantity {
    font-size: 12px;
    margin-bottom: -2px;
  }
}
