@import '@styles/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

	:global(.card-title) & {
		align-items: flex-start;
	}
}

.sale-price {
  font-weight: 700;
}

.strikethrough {
  text-decoration: line-through;
  color: $ada-grey;
  font-size: 14px;
}

.discount {
  color: $green;
}
