@import '@styles/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.product-grid {
  margin-top: 48px;
  margin-bottom: 48px;

  @include media-breakpoint-up(md) {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.skeleton {
  aspect-ratio: 7/8;
  background: $vapor;
  border-radius: $border-radius;
  margin-bottom: 24px;
}
